*{	margin: 0;	padding: 0; }

body{ font-family: 'Century Gothic';}
a{	text-decoration: none; }
ul{	list-style: none;}
img{ max-width: 100%;}

/*==========================================*/
/*----------------- titulo-----------------*/
.sub_titulo{
	width: 100%;
	height: 80px;
}
.top{
	background-image:url(../img/img3.jpeg) ;
	background-repeat:no-repeat;
	margin:0em 0em 1em 0em ;
	padding: 1em;
}
/*----------------- menu sup-----------------*/
.menu_sup{/*abuelo*/
	width: 98.8%;
	height:70px;
	border-bottom: 1px solid white;
	background-color:#080808;
	margin: -1em 0em 0em 0em;
	padding: 0.5em;
	position: relative;
	display: flex; /*alinea el menu*/
		justify-content: space-around;
		/*justify-content: right; /*corrimiento a la derecha*/
		
}
main{
	border: 1px solid black;
	height: 40em;
	width: 100%;
	display: inline-flex;
		flex-direction: row;
		/* justify-content: center; */
}
/*-----------------------------------------*/

.logo{	/* hijo*/
	margin:0.5em 1em 0em 10%;
	height: 50px;
	width: 180px;
	max-width: 120px;
	/* display: flex;
		align-self: flex-start; */
		
	/* margin-top: 0.7em; */
}
/* .menu_right{
	
} */
ul { /* papa */
	margin-left: auto;
	width: 700px;
	display: flex;
		/* flex-wrap: wrap; */
		justify-content: space-between;
		align-self: center; /*aliena horizontal*/
}

	ul li {/*hijo => ul*/
		justify-content: space-around;
		/* border-right: 1px solid blue; */
		align-self: center; /*alinea horizontal*/
	}
	nav ul li a{
		width: 90%;
		height: 2.5em;
		display: flex;
			flex-direction: column;
			justify-content: center;
	}
	.text{
		color: azure;
		margin-bottom: 0px;
		align-self: center;
		margin: 0em 1em 4em 2em;
		border-right: 1px solid black;
		/* color: white; */
		
	}
	
	.imagen{
		/* justify-content: flex-end; */
		/* width: 500px; */
		height: 4em;
		z-index: -1;	
	}
    .menu_right li:hover .imagen {
		margin-right: -5em;
		margin-top: 5em;
		width: 100%;
		z-index: 1;
		border-radius: 10%;
	}
	.menu_right li:hover .text{
		position: relative;
			top: -19px;
			right: 5px;
			border-right: none;
		z-index: 1;	
	}
	#idInput{
		display: none;
	}
	.iconoMenu{
		margin: .8em 0em 0em 0em;
		width: 70px;
		align-self: flex-start;
		display: none;

	}
	/* ================== Responsil =====================*/
	@media screen and (max-width: 1020px){
		
	}
	@media screen and (max-width: 800px){
		
		.menu_sup{
			width: 100%;
			height: 4em;
			
			background-color: black;
			display: flex;
				flex-direction: row;
				justify-content: space-around;
				flex-wrap: wrap;
		}
			.cajaLogo,.logo{
				max-width: 150px; 
				margin: 0em 0em 0em -1em;	
				/* position: relative; */
			}
			.iconoMenu, #idlabel {
				margin: 0em 10em 0em 0em;	
				display: block;
				max-width: 70px;
			
			}
			.menu_right{
				/* border: 1px solid white; */
				background-color: black;				
				margin: 1.4em 10em 0em -0.5em;		
				/* right: -70%;		10em */
				max-width: 80%;
				/* visibility: collapse; */
				display: flex;
					flex-direction: column;
					align-content: space-around;
					justify-content: flex-start;
					z-index: 1;
					/* transition: all 1s; */
				/* display:absolute; */
			}
				li{
					background-color: rgb( 35,36,59,0.6) ;
					height: 2em;
					width: 100%;
					margin: 1em;
					position: relative;
					display: flex;
						flex-direction: row;
				}
				a{
					/* background-color: blue; */
					max-width: 100%;
					max-height: 100%;
					display: flex;
						flex-direction: row;
						justify-content: flex-end;	
				}
					.text{ 						
						max-width: 100%;
						max-height: 100%;
						margin-top:4em ;
						border-right: 1px solid #151523;
						
					}
					.imagen{
						max-width: 5%;
						max-height: 1em;
						position: absolute;
						 right: 30em;
						display:none; 
					}
		.menu_right li:hover .imagen {
			/* display: none; */
			margin: 0em 0em 0em 5em;
				
		}
		.menu_right li:hover .text{
			display: block;
			margin-top: 6.5em;;
		}
		.menu_right li:hover{
			background-color: rgb( 35,46,59,0.9) ;
		}
		#idInput:checked ~* li  {
			border: 1px solid red;
			background-color: red;
			
			display: none;
		}
		

	}
/*---------- menu ------------------------*/
.isquierda{
	width: 20%;
}
.menuLeft{
	/* border: 1px solid black; */
	float: left;
	height: 40em;
	width: 100%;
	background-color: #080808;
	/* margin-top: 1px; */
	display: flex;
		flex-direction: column;
		align-items: center;
}
	.titulo{
		margin: 5px 0px 5px 0px;
		align-self: auto;	
		color: white;	
	}
	.registro{
		background-image: url(../img/fondo1.png) ;
		background-size: 600px;
		background-repeat:no-repeat;  
		background-position: -20em ;
		border-radius: 5px;
		display: flex;
			flex-direction: column;		
			justify-content: center;
			align-items: center;
		/* border: 1px solid red; */
		margin: 0px 10px 0px 10px;
		width: 90%;
		height: 250px;
	}
		.img_usuario{
			/* border:1px solid blue; */
			width: 80%;
			height: 100px;
			clip-path: circle(50px at center);
		} 
		.name{
			margin:5px 0px 0px 0px;
		}
.linea{
	width: 90%;
	margin: 10px 0px 10px 0px;
	border-bottom: 1px  solid blue;
}
	.opciones{
		background-image: url(../img/fondo1.png) ;
		background-size: 900px;
		background-repeat:no-repeat;  
		background-position: -25em ;
		border-radius: 5px;
		width: 90%;
		height: 100%;
		margin:0px 0px 10px 0px;
		/* border: 1px solid red ; */
		display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			
	}	
	.admin{
		width: 50%;
		margin: 10px 30px 10px 0px;
		
	}
/* derecha*/

.derecha{
	background-color:cyan;
	width: 80%;
	float: right;
	display: flex;
	 	flex-direction: column;	
}
	.menuRight{
		border-bottom: 1px solid white;
		background-color: #080808;
		width: 100%;
		height: 35px;
			flex-direction: row;

	}
	.ocultar{
		margin: 0px 0px 0px 15px;
	}
	.salir{
		
		display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
	}
	.salir a {
		margin: -20px 15px 0px 0px;
		color: white;	
	}
/* menu de tabla*/
	.menu_tabla{
		margin: 5px;
		border: 1px solid blck;
		height: 100%;
		overflow: auto;
		display: flex;
			flex-direction: row;

	}
	table, th, td{
		border: 1px solid black;
		
		border-collapse: collapse;/*separacion entre celdas nulo*/
	}
	th, td{ padding: 5px; /*separcion entre la celda y el contenido*/
		min-height: 20px;
	}
	 table{
		width: 100%;
		background-color: yellow;
		table-layout: auto;
		
		display: inline-table;
			flex-direction: column;
	} 
		thead{
			width: 100%;
			background-color: white;
		}
		.tabla_cabeza{
			background-color: white;
			height: 35px;
		} 
		tbody{
			width: 100%;
			height: 30px;
		} 














