* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url(../img/2.jpg) ;
    background-size: 100em;
    background-position: center;
  
}


/*------------------------------------------ cabeza ----------------------------*/
/* filter: blur(10px); desenfoca la img
   filter: brightness(100%); ajusta el brillo
   filter: contrast(80%); ajusta el cosntraste
   filter: grayscale(50%); ajusta el color a gris y original
   filter: hue-rotate(0deg); ajusta usu color sueve en base a ruda cromatica
    filter:invert(1);  invirte el color 
    filter:opacity(0); lo convierte trasnparente
    filter: saturate(0); regula la saturacion

     */

/*------------------------------------------ cuerpo ----------------------------*/

.f1 {
    width: 95%;
    margin: 2em;
    border: 1px solid black;
    padding: 2em;
    background-image: url(../img/img.jpg);
    background-size: 100em;
    background-position: center;
    /* filter: grayscale(10%); */
   

    /* filter:drop-shadow(2em 2em 1em #03002d); */
    
}
textarea{
   width: 100%; 
   height: 50%;
}
.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    color: antiquewhite;
    margin: 0em 0em 1em 5em;
}

.derecha {
    width: 25%;
    height: auto;
    background-color: rgb(14, 28, 26, 0.75);
}

.isquierda {
    width: 70%;
    height: auto;
    border-radius: 15px;
    background-color: rgb(14, 28, 26, 0.75);
    padding: 1em;
    margin: 5px 5px 5px -15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Fila1,
.Fila2,
.Fila3,
.Fila4 {
    margin: 0em 1em 1em 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: baseline; */
}

.Fila3 {
    display: flex;
    justify-content: start;
    align-items: center;
}

.Fila4 {
    margin-right: 5em;
}

[class^="linea"] {
    width: max-content;
    margin: 2em 0em 1em 0em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}

label {
    /*[class^="text"] / empiezan con ese valor*/
    text-align: arial;
    color: white;
    font-size: 20px;
}

p {
    height: 1.5em;
    width: 100%;
    color: azure;
    background-color: rgb(14, 28, 26, 0.5);
    font-size: 16px;
    font-family: verdana;
    text-align: center;
    margin: 0.5em 0.5em 0em 0em;
    border: 1px solid #0c1d2a;
    border-bottom: 1px solid white;
}

/* .linea-name {
    width: 50%;
    min-width: 16em;
} */
.mail_nombre{
    max-width: 100%;
}
.mail_numCliente {
    margin-right: 1em;
    max-width: 100%;
}

.mail_dni {
    max-width: 100%;
}

.linea-telefono {
    /* width: 35%; */
    min-width: 11em;
}

/* .linea-email {
   
    min-width: 19em;
} */
.mail_email{
    width: 100%;
}
.mail_fi {
    max-width: 100%;
}

.mail_megas {
    max-width: 100%;
}

.mail_monto {
    max-width: 70%;
}

.modificar, .pagar {
    border: none;
    color: white;
    font-size: 20px;
    background: #1c1f89;
    border-radius: 8px;
    cursor: pointer;
    margin: 2em 0em 0em 1em;
}

.modificar {
    margin: 2em 0em 0em 3em;
    font-style: normal;
    height: 1.8em;
    width: 4.9em;
}

.pagar {
    
    margin: 0.5em -2em 0.5em -2em;
    position: relative;
        width: 70%;
        height: 2em;
    color: white;
    background: rgb(32, 27, 78);
      
}

.modificar:hover, .pagar:hover {
    background: cadetblue;
}

.modificar:active, .pagar:active {
    /* lo q hace es q al momento de precionar cambie la escala*/
    transform: scale(.7);
}


/*@media screen and (max-width:800px){
        body{
            background: red ;
/*        }
        .linea{
            background: blue;
            
        }
    }*/


/*-------------------------- TABLA ------------------------------------*/
.f2{
    width: 95%;
    height: auto;
    margin: 2em;
    border: 1px solid black;
    padding: 1em;
    background-image: url(../img/img2.jpg);
    background-size: 100em;
    background-position: left top;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    filter: grayscale(10%);
}
table,th,td,tr{
    border: 1px solid black;
}

table {
    margin: 2em 0em 0em 0em;
    width: 100%;
    border-collapse: collapse;
}
[class^="head"] {
    height: 2em;
    background-color:rgb(0, 5, 90, 0.9);
    font-size: 1em;
    color: aliceblue;
}

.table_body, .table_foot {
    height: 4em;
    background: rgb(0, 217, 255,0.8);
    text-align: center;
}
.foot-col1, .body-col1{
    background: rgb(0, 5, 90, 0.65);
    color: azure;font-size: 1.2em;
}
[class$="col1"]{
    width: 15%;
}

.info {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color:  rgb(14, 28, 26, 0.8);
    color: antiquewhite;
    font-size: 1.3em;
    font-weight: 5em;
}

[id^="siPagado"]{
    color: green;
    
}
[id^="noPagado"]{
    color: red;
}

/*
fa-xs	.75em	
fa-sm	.875em	
fa-lg	1.33em	También aplica un vertical-align: -25%
fa-2x	2em	
fa-3x	3em	
fa-4x	4em	
fa-5x	5em	
fa-6x	6em	
fa-7x	7em	
fa-8x	8em	
fa-9x	9em	
fa-10x	10em*/
/* -----------------------1° pago ------------------------------------- */
.pagos{
	width: 70%;
	height: 50%;
    border: 1px solid red;
    background-color: rgb(242, 236, 255);
    z-index: 2;
    position: absolute;
        top: 90%;
        right: 50%;
        left: 15%;
        bottom: -50%;
    display: flex;		
}		
.pagos article{
    /* background-color: aqua; */
    border-right: 1px solid black;
    width: 40%;
    padding: 1em;
    display: flex;
        flex-wrap: wrap;
        align-items: center ;
        justify-content: center;
}
    .pagos article img{
        position: relative;
        width: 100%;     

    }
    .pagos article img:nth-child(2){
        position: relative;
        width: 8em;
        height: 8em;
    }

.pagos aside{
    width: 60%;
    padding: 1em;
    display: flex;
        flex-direction: column;
        align-content: flex-end;
        justify-content: space-evenly;
        
      
}
    .pagos aside h1{
        color: #0c1d2a;
        justify-self: center;
    }


 /*-----------------Responsil ---------------------*/
 
 @media screen and (max-width: 750px){
	.pagos{
        flex-direction: column;
    }
    .pagos article{
        width: 100%;
        height: 40%;
        display: flex;
            justify-content: space-around;
    }
    .pagos article img{
        position: relative;
        width: 50%;
    }
    .pagos article img:nth-child(2){
        position: relative;
        width: 30%;
        height: 100%;
    }
}



/*
 text-align: center;
  line-height: tamanio de la caja;
  cursor: pointer; // para q al seleccionar 
*/
