* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/2.jpg);
    background-size: 100em;
    background-position: center;
    padding: 1em;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}


/*------------------------------------------ cabeza ----------------------------*/


/* filter: blur(10px); desenfoca la img
   filter: brightness(100%); ajusta el brillo
   filter: contrast(80%); ajusta el cosntraste
   filter: grayscale(50%); ajusta el color a gris y original
   filter: hue-rotate(0deg); ajusta usu color sueve en base a ruda cromatica
    filter:invert(1);  invirte el color 
    filter:opacity(0); lo convierte trasnparente
    filter: saturate(0); regula la saturacion

     */


/*------------------------------------------ cuerpo ----------------------------*/

.f1 {
    width: 100%;
    /* margin: 1em; */
    border: 1px solid black;
    padding: 2em;
    background-image: url(../img/img.jpg);
    background-size: 100em;
    background-position: center;
    /* filter: grayscale(10%); */
    /* filter:drop-shadow(2em 2em 1em #03002d); */
}

h1 {
    color: antiquewhite;
    margin: 0em 0em 1em 0em;
    text-align: center;
    /* text-decoration: underline black; */
}

textarea {
    position: relative;
    width: 100%;
    height: 50%;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.derecha {
    width: 25%;
    height: auto;
    background-color: rgb(14, 28, 26, 0.75);
}

.isquierda {
    width: 70%;
    height: auto;
    border-radius: 15px;
    background-color: rgb(14, 28, 26, 0.75);
    padding: 1em;
    /* margin: 5px 5px 5px -15px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Fila1,
.Fila2,
.Fila3,
.Fila4 {
    margin: 0em 1em 1em 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: baseline; */
}

.Fila3 {
    display: flex;
    justify-content: start;
    align-items: center;
}

.Fila4 {
    margin-right: 5em;
}

[class^="linea"] {
    width: max-content;
    margin: 2em 0em 1em 0em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}

label {
    /*[class^="text"] / empiezan con ese valor*/
    text-align: arial;
    color: white;
    font-size: 20px;
}

.p {
    height: 1.5em;
    width: 100%;
    color: azure;
    background-color: rgb(14, 28, 26, 0.5);
    font-size: 16px;
    font-family: verdana;
    text-align: center;
    margin: 0.5em 0.5em 0em 0em;
    border: 1px solid #0c1d2a;
    border-bottom: 1px solid white;
}

.mail_nombre {
    max-width: 100%;
}

.mail_numCliente {
    margin-right: 1em;
    max-width: 100%;
}

.mail_dni {
    max-width: 100%;
}

.linea-telefono {
    /* width: 35%; */
    min-width: 11em;
}

.mail_email {
    width: 100%;
}

.mail_fi {
    max-width: 100%;
}

.mail_megas {
    max-width: 100%;
}

.mail_monto {
    max-width: 70%;
}

button,
input {
    border: none;
    color: white;
    font-size: 20px;
    background: #1c1f89;
    border-radius: 8px;
    cursor: pointer;
}

.modificar {
    margin: 2em 0em 0em 3em;
    font-style: normal;
    height: 1.8em;
    width: 4.9em;
}

button:hover,
input:hover {
    background: cadetblue;
}

button:active,
input:active {
    /* lo q hace es q al momento de precionar cambie la escala*/
    transform: scale(.7);
}

@media screen and (max-width: 750px) {
    .main,
    body {
        width: 100%;
        padding: .2em;
    }
    .f1 {
        width: 100%;
        padding: .2em;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .isquierda {
        margin-bottom: 2em;
        width: 100%;
    }
    .derecha {
        max-height: 5em;
        width: 100%;
    }
}


/*@media screen and (max-width:800px){
        body{
            background: red ;
/*        }
        .linea{
            background: blue;
            
        }
    }*/


/*-------------------------- TABLA ------------------------------------*/

.f2 {
    width: 100%;
    height: auto;
    margin-top: 2em;
    border: 1px solid black;
    padding: 1em;
    background-image: url(../img/img2.jpg);
    background-size: 100em;
    background-position: left top;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    filter: grayscale(10%);
}

.info {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: rgb(14, 28, 26, 0.8);
    background-size: contain;
    color: antiquewhite;
    font-size: 1em;
    font-weight: 4em;
}

.espInf {
    padding: .5em;
}

table,
th,
td,
tr {
    border: 1px solid black;
}

table {
    margin: 2em 0em 0em 0em;
    width: 100%;
    border-collapse: collapse;
}

[class^="head"] {
    height: 2em;
    background-color: rgb(0, 5, 90, 0.9);
    font-size: 1em;
    color: aliceblue;
}

.table_body,
.table_foot {
    height: 4em;
    background: rgb(0, 217, 255, 0.8);
    text-align: center;
}

.foot-col1,
.body-col1 {
    background: rgb(0, 5, 90, 0.65);
    color: azure;
    font-size: 1.2em;
}

[class$="col1"] {
    width: 10%;
}

.foot-col5 {
    padding-top: .8em;
    margin: auto;
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

.pagar {
    padding: .1em;
    height: 2.5em;
    width: 70%;
    font-size: 1em;
}

[id^="siPagado"] {
    color: green;
}

[id^="noPagado"] {
    color: red;
}

@media screen and (max-width: 750px) {
    .info {
        font-size: 1em;
        font-weight: 100;
    }
    .pagar {
        padding: .1em;
        height: 2.5em;
        width: 70%;
        font-size: 80%;
    }
}


/*
fa-xs	.75em	
fa-sm	.875em	
fa-lg	1.33em	También aplica un vertical-align: -25%
fa-2x	2em	
fa-3x	3em	
fa-4x	4em	
fa-5x	5em	
fa-6x	6em	
fa-7x	7em	
fa-8x	8em	
fa-9x	9em	
fa-10x	10em*/


/* -----------------------1° pago ------------------------------------- */

.pagos {
    width: 70%;
    height: 50%;
    border: 1px solid red;
    background-color: rgb(242, 236, 255);
    z-index: 2;
    box-shadow: 10px 10px 15px 5px black;
    position: absolute;
    top: 90%;
    right: 50%;
    left: 15%;
    bottom: -50%;
    display: flex;
    display: none;
}

.pagos article {
    /* background-color: aqua; */
    border-right: 1px solid black;
    width: 40%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pagos article img {
    position: relative;
    width: 100%;
}

.pagos article img:nth-child(2) {
    position: relative;
    width: 8em;
    height: 8em;
}

.pagos aside {
    background-color: antiquewhite;
    width: 60%;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.h2 {
    text-shadow: 3px 3px 5px #5a5757;
    align-self: center;
    text-align: center;
    border-bottom: 1px solid black;
    width: auto;
    color: #0c1d2a;
}

.pagos aside span {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}

.pagos aside span select {
    -webkit-appearance: none;
    appearance: none;
}

.pagos aside span select {
    font-family: normal;
    font-size: medium;
    font-weight: lighter;
    background-color: #faebd7;
    outline: 5px outset #faebd7;
    box-shadow: -5px -5px 10px 3px #b9b1a6 inset;
    border-radius: 2px;
    position: relative;
    /*outset*/
}

.pagos aside span select option {
    border-radius: 50px;
}

.pagos aside samp {
    margin-left: -3em;
    padding-right: 1em;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.montoFinal {
    width: auto;
    height: 1.5em;
    color: black;
    background-color: #faebd7;
    font-size: 16px;
    font-family: verdana;
    text-align: center;
    margin: 0 0 0 4em;
    border: none;
    border-bottom: 1px solid black;
}

.montoFinal::before {
    content: "AR$ ";
    color: black;
}

.botomPago {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

input {
    background-color: #0d024cf1;
    align-items: center;
    font-size: medium;
    height: auto;
    width: auto;
    padding: .5em;
    margin: 0em 0em 0em 0em;
    font-style: normal;
}

input:focus {
    background-color: ;
}


/*-----------------Responsil ---------------------*/

@media screen and (max-width: 750px) {
    .pagos {
        left: 5px;
        right: 0px;
        margin: 0em;
        width: 95%;
        flex-direction: column;
        align-content: space-around;
    }
    .pagos article {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-around;
    }
    .pagos article img {
        position: relative;
        width: 50%;
    }
    .pagos article img:nth-child(2) {
        position: relative;
        width: 30%;
        height: 100%;
    }
    .pagos aside {
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
    }
    .pagos aside span,
    .pagos aside samp,
    .botomPago {
        margin-top: 2em;
        font-size: medium;
    }
    .pagos aside samp {
        margin-left: 5%;
    }
}


/* -----------------------2° factura ------------------------------------- */

img {
    width: 5em;
}

.factura {
    width: 30em;
    /* min-width: 50%; */
    height: 70%;
    /* border: 1px solid red; */
    background-color: rgb(255, 255, 255);
    z-index: 2;
    box-shadow: 10px 10px 15px 5px black;
    padding: .4em;
    position: absolute;
    top: 50%;
    right: 50%;
    left: 25%;
    bottom: -50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.factura__icos {
    border-bottom: 2px solid black;
    padding: .1em;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
}

.factura--img {
    width: 50%;
    height: 80%;
}

.factura--ico {
    /* border: 1px solid red; */
    width: 80px;
    height: 4.7em;
    margin: -1em 2em 0em 0em;
    background-image: url(../img/iconRapipago-PagoFácil.jpg);
    background-repeat: no-repeat;
    background-size: 10em 6em;
    /*x y*/
    background-position: left;
    /* left right */
    /* position: relative;         */
}

.factura__article {
    margin: -1.5em 0em 0em 0em;
    padding: .5em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: ;
}

.factura__titulo {
    margin: .5em;
    text-align: center;
    text-decoration: underline black;
}

.factura__info {
    border-top: 1px solid black;
    margin: 1em 0em;
    background-color: rgba(234, 239, 243, 0.664);
    text-align: center;
    width: 100%;
    font-size: medium;
    font-family: 'Times New Roman', serif;
}

.factura__pago,
.factura--nom,
.factura--monto {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.factura__pago {
    flex-direction: column;
    align-items: baseline;
}

.name,
.numClie,
.monFinal {
    margin-left: .5em;
    font-weight: 400;
}

.monTotal,
.monFinal {
    margin-top: .5em;
}

.monFinal::before {
    content: '$';
    color: #0c1d2a;
    font-weight: 600;
}

.factura__codigo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.factura--imgCod {
    border: 1px solid black;
    width: 70%;
    height: 5em;
    background-image: url(../img/codFactura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.factura--cod {
    margin: .5em .5em;
    border-bottom: 1px solid black;
    font-weight: 600;
    font-size: larger;
}

.factura__footer {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.factura__FechaExpiracion {
    display: flex;
}

.finPagoImpr {
    padding: .3em;
    border-radius: 5px;
    color: black;
    background-color: #dfd6c9c5;
}


/* .fas {
    color: green;
} */


/*----------------------------------- responsil -----------------*/

@media screen and (max-width: 750px) {
    .factura {
        margin-left: 3%;
        width: 93%;
        left: 0px;
        display: flex;
        justify-content: center;
        display: none;
    }
    .factura__icos,
    .factura--img,
    .factura--ico {
        margin-bottom: .5em;
    }
}


/*
 text-align: center;
  line-height: tamanio de la caja;
  cursor: pointer; // para q al seleccionar 
*/