*{
	margin: 0;
	padding: 0;
	height: auto;
	box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100% ;
    height: auto;
    color:rgb(17, 0, 255);
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
        flex-direction: column;
        justify-content: center;

}
main{
    height: 80%;
    border:1px solid red;
    display:flex;
    align-items:center;
}
.formulario{
    position:relative;
    background-color: #CDBF7D;/*color de fondo*/
    margin-top: 5em;   
    padding: 20px;
    width: 24em ;
    height: 100%;
    margin: auto;
    border-radius: 15px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.sup{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contenedor{
	color: black;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
        flex-direction: column;
        align-items: center;

}
input[type="text"],input[type="email"],input[type="number"],
input[type="password"],input[type="date"]{
    font-size: 13px;/* tama単o de nombres*/
    width: 70%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    padding-left: 20px;
    margin-left: 0px;
    border-radius: 5px;
}
.input-contenedor{
	min-width: 50px;
	text-align: center;
	color: #053028;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: black;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}
.button:hover{
    background: cadetblue;
}
.button:active, .pago_pagar:active {/* lo q hace es q al momento de precionar cambie la escala*/
    transform: scale(.9);
}

.msn{
    text-align: center;
    font-style: italic;    
    font-size: 1.3em;    
}
.link{
      text-decoration: none;
    color: rgb(179, 12, 109);
    font-weight: 6000;    
  }

.link:hover{
    color: cadetblue;
}

.infoUsuario{
    
	background-color: #b9a95d;;
    width: 80%;
    height: 120px;
    padding-top:10px; 
    border-radius: 5px;
}
nav{	
	margin-top:  0px;
	margin-right:0px; 
}
header{
	width: 220px;
	height: 80px;
	background-color: orange;
	padding-left:  10px;
	padding-top: 10px;
	border-radius: 5px;
	margin-top: -10px;
	margin-bottom: 10px;
}
h1{  
       
	height: 1px;	
    color: white;
    font-size: 30px;
    
    /* margin-left: 10%;
    margin-top: 10px; */
    text-decoration: underline white;
    
}
#numCliente{    
    width: 100px;     
    margin: 0px;
    
}