*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body{
    background: rgb(185, 172, 214);
    background-position: center;
}
/*------------------------------------------ cabeza ----------------------------*/
  
/*------------------------------------------ cuerpo ----------------------------*/
    .mail{
        width: 90%;
        margin: 2em;
        border: 1px solid red ;
        padding: 2em;
        padding-right: 3em;
        background-color: cyan;        
       
    }
    
    [class^="text" ]{
        text-align: arial;
        color: black;
        font-size: 20px;
        display: inline-block;
        
    }  

    textarea{
        height: 2em;
        width: max-content; 
        background-color: rgb(184, 159, 159);
        font-size: 16px ;
        font-family: arial;
        font-family: verdana;
        text-align:center; /* centreo el texto*/ 
        margin-right: 2em;
        margin-top: 1em;
        border-radius: 5px;
        display: inline-block;

    }
    
    .mail_nombre, .mail_numCliente, .mail_dni, .mail_fi, .mail_megas, .mail_monto{
        background: white;
        border: none;
    }
   
        .mail_nombre {
            margin-right:2em;
            
            width: 50%;
        }
        .mail_numCliente{
            max-width:6em;
        }        
        .mail_megas{
            width: 6em;
        }
        #monto{
            width: 6em;
            font-size: 16px;
        }
        #FI{
            width: 16%;
            font-size: 16px;
        }
        .button , .pago_pagar{
            border: none;
            width: 5em;
            height: 2em;
            color: white;
            font-size: 20px;        
            background: lightcoral;
            padding: 10px 10px;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 10px;
        }
        .pago_pagar{
            position: absolute; 
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            margin: auto;
            border: none;
            max-width: 80%;
    /*        width: 5em;*/
            height: 2em;
            color: white;
            font-size: 20px;        
            background: lightcoral;
            padding: 10px 10px;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 10px; 
            
                
        }
        .button:hover, .pago_pagar:hover{
            background: cadetblue;
        }
        .button:active, .pago_pagar:active {/* lo q hace es q al momento de precionar cambie la escala*/
            transform: scale(.7);
        }
        .container__linea--bloque{            
            display: inline-block;
                 margin-top: 0em;
                max-width: 100%;
                /*border: #ff253a solid;*/
        }
    /*@media screen and (max-width:800px){
        body{
            background: red ;
/*        }
        .linea{
            background: blue;
            
        }
    }*/
    
    

    
    
    
/*-------------------------- TABLA ------------------------------------*/

    table, .table_head, .table_data, .montoTotal, .pesos{
        border: 1px solid black;       
        
    }
    .table{
        margin: 2em;
        margin-right: 2em;
        width: 90%;
        border-collapse: collapse;
    }
    .table_data, .montoTotal, .pesos{
        
        background: lightblue;
        text-align: center;
        
        height: 1em;
    }
    .fila1{
        /*height: 2em;*/
        background-color: red;
        font-size: 1em;
    }
     .table_pagar, .montoTotal{
        height: 3em;
        font-size: 20px ;
        font-weight: bold;
        width: 15%;
        
    }
    p{
        margin-left: 3em;
        margin-bottom: -1em;
    }
   
    .pago{
        background: yellow;
    }
    .table_monto{
        
        background: lightblue;
    }
    .table_monto1, .table_monto2{/*esconder*/
        empty-cells:hide;
    }
    .table_monto3, .table_monto4{/*esconder*/
        empty-cells:show;
        background-color: rgb(159, 197, 195);
        text-align: center;
        line-height: center;
    }
    .table_monto4{
        background: rgb(255, 255, 255);
        position: relative;
        
    }
/* **************************** iconos *************************************************** */
    .table_data{
        
        height:50px;
        width: 50px;
        
    }
    

    







